$maxWidth: 1300px;
$tabletWidth: 900px;
$mobileWidth: 600px;

$black: #1A1A1F;
$gray: #424242;
$blue: #3D87F7;

h1, h2, h3, h4, h5, p {
  color: $black;
}

button {
  width: 170px;
  height: 40px;
  cursor: pointer;
  font-family: 'Public Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  outline: none;

  &.primary {
    background-color: $blue;
    color: white;
    border: none;
  }

  &.secondary {
    border: solid 1px $blue;
    background-color: white;
    color: $blue;
  }

  &:first-of-type {
    margin-right: 25px;
  }
}

.App {
  text-align: center;
  font-family: 'Public Sans', sans-serif;
  overflow-x: hidden;
  min-width: 500px;

  header {
    display: flex;
    justify-content: space-between;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 50px; 

    h3 {
      font-size: 16px;
    }
    
    nav {
      display: flex;
      margin-top: auto;
      margin-bottom: auto;

      a {
        color: $gray;
        text-decoration: none;
        font-size: 14px;
        margin-left: 50px;
        font-weight: 500;
        
        &.login {
          color: $blue;
        }
      }
    }

    @media only screen and (max-width: $mobileWidth) {
      padding: 25px !important;
    }
  }
  
  .hero {
    display: flex;
    max-width: $maxWidth;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 50px;
    
    .left {
      min-width: 550px;
      h1 {
        text-align: left;
        font-size: 40px;
        line-height: 1.4;

        .underline {
          animation: border-bottom-width;
          animation-duration: 2s;
          border-bottom: solid 6px rgba($color: $blue, $alpha: 0.7);
        }
      }

      p {
        text-align: left;
        color: $black;
        line-height: 1.8;
        font-size: 16px;
        margin: 35px 0px 45px;
      }

      .actions {
        display: flex;
      }
    }

    img {
      margin-left: 100px;
      max-width: 700px;
    }


    @media only screen and (max-width: $tabletWidth) {
      padding: 50px;

      .left {
        max-width: 550px;
        min-width: inherit;

        h1 {
          font-size: 35px;
        }

        .actions {
          button {
            height: 50px;
            min-width: 200px;
          }
        }
      }

      img {
        display: none;
        margin: 0px auto 25px 0px;
        height: 200px;
        object-fit: contain;
      }
    }

    @media only screen and (max-width: $mobileWidth) {
      padding: 30px 25px;
  
      .left {
        width: inherit;
  
        h1 {
          font-size: 30px;
        }

        .actions {
          flex-direction: column;

          button {
            width: 100%;
            margin-bottom: 20px;
          }
        }
      }
    }  
  }

  .runtime {
    background-image: url('./assets/curved.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
    margin-top: -100px;

    .inner {
      max-width: $maxWidth;
      margin-left: auto;
      margin-right: auto;
      padding: 80px 50px;
      
      h2 {
        text-align: left;
        font-weight: 600;
        font-size: 22px;
      }

      .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
        margin-top: 70px;
        margin-bottom: 30px;

        .card {
          display: flex;
          flex-direction: column;
          background-color: white;
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.04);
          padding: 40px;
          text-align: left;

          img {
            height: 50px;
            width: 50px;
          }

          h5 {
            font-weight: 600;
            font-size: 18px;
            margin: 30px 0px;
          }

          p {
            margin: 0px;
            font-size: 15px;
            line-height: 1.6;
          }
        }
      }
    }

    @media only screen and (max-width: $tabletWidth) {
      margin-top: 40px;
    }
    
    @media only screen and (max-width: $mobileWidth * 1.5) {
      background-image: unset;
      background-color: #F9F9F9;
      margin-top: 40px;

      .inner {
        padding: 40px 25px;

        .cards {
          display: flex;
          flex-direction: column;
          margin-top: 40px;

          .card {
            min-width: 10px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  .github-actions {
    padding: 0px 50px;
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-gap: 80px;

    max-width: $maxWidth;
    margin: 100px auto;

    .left {
      margin-top: auto;
      margin-bottom: auto;
      text-align: left;

      i {
        color: $blue;
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
      }

      h2 {
        font-size: 32px;
        font-weight: 500;
        line-height: 1.4;
        margin-top: 10px;
      }

      p {
        font-size: 16px;
        line-height: 1.7;
        margin-bottom: 40px;
      }

      button {
        min-width: 180px;
      }
    }

    img {
      height: inherit;
      width: 100%;
      max-width: 650px;
      margin-left: auto;
    }

    @media only screen and (max-width: $tabletWidth) {
      display: flex;
      flex-direction: column;

      .left {
        h2 {
          font-size: 26px;
        }
      }

      img {
        width: 100%;
        margin: 20px -10px;
      }
    }
  }
}